# enable whitelist
*
!*/

node_modules

# folders
!.storybook/*
!.vscode/*

# src
!packages/**/*
packages/**/docs.d.ts
packages/**/src/components.d.ts
packages/**/src/**/assets/**/*

# root files
!/*.js
!/*.ts
!/readme.md
