@import '~@sydle/sydle-ui/dist/sydle-ui/sydle-ui.css';
// @import './assets/ol-css.css';
// @import './assets/ol-ext.css';
// @import './assets/primeng.css';
// @import './assets/styles.1da2a3e5ea7b57c1.css';
@import './assets/dropdown.css';
// @import './assets/styles.d9f1fa22f8438da2.css';

@font-face {
    font-family: primeicons;
    font-display: block;
    src: url(../assets/primeicons.964f445f3ea9db80.eot);
    src: url(../assets/primeicons.964f445f3ea9db80.eot?#iefix) format("embedded-opentype"), url(../assets/primeicons.5f5d08cd089b4e5d.ttf) format("truetype"), url(../assets/primeicons.29151a741d66863a.woff) format("woff"), url(../assets/primeicons.76044b1c189cc4d7.svg?#primeicons) format("svg");
    font-weight: 400;
    font-style: normal
}